body {
  background-color: #47c17e;
  background: url("images/darkgrass.png");
  font-family: Helvetica;
}

img {
  display: block;
  vertical-align: middle;
}

.selected {
  border: 2px solid gold;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 28px;
  width: 28px;
  z-index: 1;
}

#helpButton {
  position: absolute;
  font-weight: bold;
  font-size: 24px;
  margin-left: 10px;
  top: 30px;
  right: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

#helpButton:hover, #helpButton:focus {
  cursor: pointer;
}

.helpModal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: auto;
}

.helpModalContent {
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  margin: 10% auto;
  padding: 10px 25px;
  border: 1px solid gray;
}

.modalClose {
  font-size: 28px;
  font-weight: bold;
  float: right;
}

.modalClose:hover, .modalClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

div#inventoryContainer {
  position: absolute;
  top: 120px;
  left: 10px;
}

#inventoryLabel {
  position: relative;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

table#inventory {
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid black;
  border-collapse: collapse;
}

table#inventory td {
  width: 32px;
  height: 32px;
  padding: 0px;
  border: 2px solid black;
  background-color: #47c17e;
}

div#fieldContainer{
  position: absolute;
  top: 147px;
  left: 130px;
}

table#field {
  position: relative;
  top: 0px;
  border: 2px solid black;
  border-collapse: collapse;
}

table#field td {
  width: 38px;
  height: 38px;
  padding: 0px;
  background: url("images/dirt.png");
}

div#marketContainer {
  position: absolute;
  top: 120px;
  right: 200px;
  min-height: 200px;
}

#marketLabel {
  position: relative;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

#market {
  height: 128px;
  width: 150px;
  border: 2px solid black;
  text-align: center;
  font-style: italic;
  padding: 5px;
  background-color: #47c17e;
  background: url("images/lightgrass.png");
}

/* table#market { */
/*   position: relative; */
/*   top: 0px; */
/*   left: 0px; */
/*   border: 2px solid black; */
/*   border-collapse: collapse; */
/* } */
/*  */
/* table#market td { */
/*   height: 128px; */
/*   width: 150px; */
/*   border: 2px solid black; */
/*   text-align: center; */
/*   font-style: italic; */
/*   padding: 5px; */
/*   background-color: #47c17e; */
/*   background: url("images/lightgrass.png"); */
/* } */

div#suppliesContainer {
  position: absolute;
  top: 120px;
  right: 10px;
  text-align: center;
}

#suppliesLabel {
  position: relative;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

table#supplies {
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid black;
  border-collapse: collapse;
}

table#supplies td {
  width: 32px;
  height: 32px;
  padding: 0px;
  border: 2px solid black;
  background-color: #47c17e;
}

table#supplies img {
  height: 32px;
  width: 32px;
}

table#field img {
  height: 32px;
  width: 32px;
}

table#inventory img {
  height: 32px;
  width: 32px;
}

#buyButton {
  background-color: #47c17e;
  font-size: 24px;
  font-weight: bold;
  margin: 10px auto;
  padding: 5px 10px 5px 10px;
  border: 2px solid black;
  border-radius: 8px;
}

.suppliesItemContainer {
  position: relative;
  z-index: auto;
}

.inventoryItemContainer {
  position: relative;
  z-index: auto;
}

.fieldItemContainer {
  position: relative;
  z-index: auto;
}

.suppliesTooltip {
  position: absolute;
  top: 25%;
  right: 105%;
  z-index: 2;
  visibility: hidden;
  width: 210px;
  background-color: palegoldenrod;
  text-align: left;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid black;
}

.inventoryTooltip {
  position: absolute;
  top: 25%;
  left: 105%;
  z-index: 2;
  visibility: hidden;
  width: 210px;
  background-color: palegoldenrod;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid black;
}

.fieldTooltip {
  position: absolute;
  top: 25%;
  left: 105%;
  z-index: 2;
  visibility: hidden;
  width: 210px;
  background-color: palegoldenrod;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid black;
}

.fieldItemContainer:hover .fieldTooltip {
  visibility: visible;
}

.suppliesItemContainer:hover .suppliesTooltip {
  visibility: visible;
}

.inventoryItemContainer:hover .inventoryTooltip {
  visibility: visible;
}

#title {
  color: darkgreen;
  text-align: center;
  text-shadow: 2px 2px black;
}

#gold {
  position: absolute;
  top: 34px;
  left: 20px;
}

#goldImg {
  display: inline;
  height: 50px;
  width: 50px;
}

#goldAmt {
  vertical-align: middle;
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}


.breathe {
  animation-name: breathe;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes breathe {
  0% {
    font-size: 24px;
    color: black;
  }

  50% {
    font-size: 28px;
    color: gold;
  }

  100% {
    font-size: 24px;
    color: black;
  }
}

